# default
! Compile.bat
! Refresh.bat
*.md
*.py
*.launch
*.zip
backup/

# gradle
.gradle/
build/
out/

# idea
.idea/
*.iml
*.ipr
*.iws

# eclipse
.settings/
.classpath
.project
bin/

# vscode
.vscode/

# logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# java
*.class

# minecraft run folder
run/